body {
    text-align: center;
    background-color: black;
}


.background {
    position: relative; 
    width: 1200px;
    height: 650px;
    border: 1px solid black;
    margin-left: auto; 
    margin-right: auto;
    background-color: black;
}

.clock{
    width:800px;
    height: auto;
    position: absolute;
    left: 200px;
    z-index: 1;
    display: inline;
}

h1{
    position: absolute;
    color: red;
    z-index: 2;
    left: 370px;
    font-size: 190px;
    letter-spacing: 30px;
    top: 120px;
}

.bedroom{
    width: 1200px;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.dialogue, .reminder{
    color: black;
    display: none;
    font-size: 24px;
}

.reminder{
    font-style: italic;
    font-size: 14px;
}

.dialogueBox {
    border-color: white;
    border-width: 1px;
    width: 800px;
    background: rgba(117, 117, 117, 0.7) /* grey background with 30% opacity */;
    position: absolute;
    top: 530px;
    left: 220px;
    z-index: 8;
}

.window {
    position: absolute; 
    top: 0; 
    left: 0;
    z-index: 4;
    width: 1200px;
    height: 650px;
    display: none;
}

.curtain1, .curtain2 {
    position: absolute;
    width: 500px;
    height: 600px;
    z-index: 5;
    top: 50px;
    display: none;
}

.curtain2 {
    transform: scaleX(-1);
    left: 170px;
}

.rod {
    position: absolute;
    z-index: 4;
    height: 40px;
    top: 71px; 
    left: 200px;
    width: 900px;
    display: none;
}

.theHouse {
    position: absolute; 
    height: 500px; 
    width: 800px;
    top: 150px; 
    left: 100px;
    display: none;
    z-index: 3;
}

.number {
    position: absolute;
    z-index: 5;
}

.windowWitNum {
    position: absolute;
    width: 1200px;
    height: 650px;
    z-index: 6;
    left: 0;
    top: 0;
    display: none;
}

.iphone {
    position: absolute; 
    z-index: 7;
    width: 130px;
    bottom: 10px;
    right: 10px;
    display: none;
}

.dial {
    position: absolute; 
    z-index: 7;
    width: 400px;
    left: 400px;
    height: 650px;
    display: none;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero, .star,  .hash, .call {
    position: absolute; 
    width: 70px;
    height: 60px;
    z-index: 8;
    left: 470px;
    top: 205px;
    border-radius: 25px;
    display: none;
}

.two, .five, .eight, .zero, .call {
    left:565px;
}

.three, .six, .nine, .hash {
    left: 660px;
}

.four, .five, .six {
    top: 270px;

}

.seven, .eight, .nine {
    top: 340px;
}

.zero, .star, .hash {
    top: 410px;
}

.call {
    top: 480px;
}

.phoneNumber {
    position: absolute; 
    z-index: 10;
    left:540px;
    top: 60px; 
    font-size: 25px;
    font-family: sans-serif;
}

.girlDialogue {
    color: white; 
    background-color: rgba(104, 2, 60, 0.7);
}




