body {
  background-color: black;
  position: relative;
}

.monologue, .monologue2 {
  position: absolute;
  color: white;
  text-align: center;
  top: 200px;
  left: 300px;
  display: none;
  z-index: 4;
}

#diary,
#blood,
#poison {
  position: absolute;
  display: none;
  height: 600px;
  width: 400px;
  left: 100px;
}

#blood {
  width: 600px;
  height: 400px;
}

#bedroom {
  position: absolute;
  left: 100;
  right: 0;
  width: 1200px;
  height: 650px;
  z-index: 2;
  display: none;
}

#window {
  position: absolute;
  width: 600px;
  height: 500px;
  left: 300px;
  top: 100px;
  display: none;
}

#key {
  display: none;
}
